@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.poster {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: 572px;
    object-fit: cover;

    @include lessThanDesktop {
      height: 450px;
    }

    @include lessThanTablet {
      height: 350px;
    }

    @include lessThanPhone {
      height: 250px;
    }
  }

  &__overlay {
    text-align: center;
    margin: 36px auto 0;

    @include lessThanTablet {
      margin: 24px auto 0;
      padding: 0 24px;
    }

    @include lessThanPhone {
      margin: 16px auto 0;
      padding: 0 16px;
    }

    a {
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
