@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.profile {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px 20px;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include lessThanTablet {
    padding: 20px 10px;
    min-height: 80vh;
  }

  &__content {
    width: 100%;
    max-width: 600px;
    background-color: $bg-primary-color;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 4px 20px rgba($text-accent-color, 0.2);

    @include lessThanTablet {
      padding: 24px 16px;
    }
  }

  &__title {
    margin-bottom: 32px;
    text-align: center;

    @include lessThanTablet {
      margin-bottom: 24px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
    padding: 24px;

    @include lessThanTablet {
      flex-direction: column;
      text-align: center;
      gap: 16px;
      margin-bottom: 24px;
      padding: 16px;
    }
  }

  &__avatar {
    @include square(100px);
    border-radius: 50%;
    object-fit: cover;

    @include lessThanTablet {
      @include square(80px);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include lessThanTablet {
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include lessThanTablet {
      gap: 12px;
    }
  }

  &__button {
    width: 50%;

    @include lessThanTablet {
      width: 100%;
    }
  }
}
