@import '@styles/variables.scss';

.neededProducts {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 48px;
  margin: 48px 0;
  align-items: start;
}

.divider {
  margin: 15px 0;
  width: 2px;
  height: calc(100% - 5px);
  background: $secondary-color;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 7px;
    background: $secondary-color;
    border-radius: 50%;
  }
}

h2 {
  margin: 0;
}

.ingredients {
  margin: 0;

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $text-primary-color;
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: $border-radius;

    &__amount {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $secondary-color;
    }

    &__name {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $text-primary-color;
    }
  }
}

.equipment {
  margin: 0;

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $text-primary-color;
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: $border-radius;

    &__name {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $text-primary-color;
    }
  }
}
