// Цвета
$brand-color: #b5460f; //+
$brand-active-color: #872d01; //+
$secondary-color: #afadb5; //+
$bg-primary-color: #fff; //+
$accent-color: #f5f5f5; //+

$gap-xxs: 8px; //+
$border-radius: 8px; //+

// Button
$button-height: 52px; //+
$button-padding-vertical: 14px; //+
$button-padding-horizontal: 20px; //+
$button-gap: $gap-xxs; //+

// Button
$button-bg-primary: $brand-color; //+
$button-bg-hover: rgba($brand-color, 0.7); //+
$button-bg-active: $brand-active-color; //+
$button-bg-disabled: #d9d9d9; //+

// Text
$text-primary-color: #000000; //+
$text-secondary-color: #afadb5; //+
$text-accent-color: $brand-color; //+
$text-button-color: #ffffff; //+

// Loader
$loader-size-s: 24px; //+
$loader-size-m: 48px; //+
$loader-size-l: 60px; //+

// Header +

// Card
$card-height: 600px; //+
$card-width: 360px; //+
$card-bg-color: $bg-primary-color; //+

// Summary
$summary-bg: rgba(#b5460f54, 0.33);
