@use '@styles/variables' as *;

.recipe-list-page__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 64px 0;
}

.recipe-list-page__poster {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: 572px;
    object-fit: cover;
  }

  &-overlay {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: $text-primary-color;
    width: 100%;
    margin: 36px auto 0;

    a {
      color: $text-primary-color;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
