@use '@styles/variables' as *;

.card {
  display: flex;
  flex-direction: column;
  background: $card-bg-color;
  border-radius: $border-radius;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: $aspect-ratio-card;

  &:hover {
    background-color: rgba($card-bg-color, 0.6);
  }

  &__image-slot {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 99;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: calc(100% * 24 / 360) calc(100% * 14 / 360);
  }

  &__header {
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 1;
  }

  &__image {
    object-fit: cover;
    display: block;
    width: 100%;
    aspect-ratio: 1;
  }

  &__frame {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    gap: calc(100% * 6 / 360);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(100% * 24 / 360);
  }

  &__content-wrapper {
    flex: 1;
  }

  &__action-wrapper {
    flex-shrink: 0;
  }
}
